name: "Build Quarkus SNAPSHOT"
on:
  workflow_dispatch:
  schedule:
    - cron: '20 0 * * *'
jobs:
  build-quarkus:
    name: Build Quarkus
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ 17 ]
    steps:
      - uses: actions/checkout@v6
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
      - name: Build Quarkus 999-SNAPSHOT
        run: |
          mkdir maven-repository
          LOCAL_REPO="$(pwd)/maven-repository"
          git clone https://github.com/quarkusio/quarkus.git && cd quarkus && ./mvnw -B --no-transfer-progress -s .github/mvn-settings.xml clean install -Dquickly -Dno-test-modules -Prelocations -Dmaven.repo.local=$LOCAL_REPO
      - name: Cache Build Outputs
        uses: actions/cache/save@v5
        with:
          # Keep same path ./action/cache-quarkus/action
          path: |
            maven-repository
          key: quarkus-daily-build-${{ github.run_id }}
