name: "Daily deploy snapshot"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'

jobs:
  release:
    runs-on: ubuntu-latest
    name: release

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/deploy
        with:
          release-version: '999-SNAPSHOT'
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          ossrh-token: ${{ secrets.OSSRH_TOKEN }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          ossrh-username: ${{ secrets.OSSRH_USERNAME }}