name: "Daily Build"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'
jobs:
  build-jvm:
    name: Daily build - JVM
    runs-on: ubuntu-latest
    strategy:
      matrix:
        quarkus-version: ["1.13.4.Final", "2.0.0.Alpha2"]
        java: [ 11 ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: ${{ matrix.java }}
      - name: Build
        run: |
          mvn -s .github/mvn-settings.xml clean install -Dvalidate-format -Dquarkus.platform.version="${{ matrix.quarkus-version }}"
      - name: Zip Artifacts
        run: |
          zip -R artifacts-jvm${{ matrix.java }}.zip '*-reports/*'
      - name: Archive artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ci-artifacts
          path: artifacts-jvm${{ matrix.java }}.zip
  build-native:
    name: Daily build - Native
    runs-on: ubuntu-latest
    strategy:
      matrix:
        quarkus-version: ["1.13.4.Final", "2.0.0.Alpha2"]
        java: [ 11 ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: ${{ matrix.java }}
      - name: Build
        run: |
          mvn -s .github/mvn-settings.xml clean install -Pframework,examples,native -Dquarkus.platform.version="${{ matrix.quarkus-version }}"
      - name: Zip Artifacts
        run: |
          zip -R artifacts-native${{ matrix.java }}.zip '*-reports/*'
      - name: Archive artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ci-artifacts
          path: artifacts-native${{ matrix.java }}.zip
  build-jvm-kubernetes:
    name: Daily build - JVM - Kubernetes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        quarkus-version: ["1.13.4.Final", "2.0.0.Alpha2"]
        java: [ 11 ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: ${{ matrix.java }}
      - uses: engineerd/setup-kind@v0.5.0
      - name: Configure Load Balancer
        run: .github/configure-load-balancer.sh bridge
      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.CI_REGISTRY }}
          username: ${{ secrets.CI_REGISTRY_USERNAME }}
          password: ${{ secrets.CI_REGISTRY_PASSWORD }}
      - name: Build
        run: |
          mvn -B -s .github/mvn-settings.xml clean install -Pframework,examples,kubernetes -Dts.container.registry-url=${{ secrets.CI_REGISTRY }} -Dquarkus.platform.version="${{ matrix.quarkus-version }}"
      - name: Zip Artifacts
        if: failure()
        run: |
          zip -R artifacts-k8s-jvm${{ matrix.java }}.zip '*-reports/*'
      - name: Archive artifacts
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: ci-artifacts
          path: artifacts-k8s-jvm${{ matrix.java }}.zip
  build-native-kubernetes:
    name: Daily build - Native - Kubernetes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        quarkus-version: ["1.13.4.Final", "2.0.0.Alpha2"]
        java: [ 11 ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK {{ matrix.java }}
        uses: joschi/setup-jdk@e87a7cec853d2dd7066adf837fe12bf0f3d45e52
        with:
          java-version: ${{ matrix.java }}
      - uses: engineerd/setup-kind@v0.5.0
      - name: Configure Load Balancer
        run: .github/configure-load-balancer.sh bridge
      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.CI_REGISTRY }}
          username: ${{ secrets.CI_REGISTRY_USERNAME }}
          password: ${{ secrets.CI_REGISTRY_PASSWORD }}
      - name: Build
        run: |
          mvn -s .github/mvn-settings.xml clean install -Pframework,examples,kubernetes,native -Dts.container.registry-url=${{ secrets.CI_REGISTRY }} -Dquarkus.platform.version="${{ matrix.quarkus-version }}"
      - name: Zip Artifacts
        run: |
          zip -R artifacts-k8s-native${{ matrix.java }}.zip '*-reports/*'
      - name: Archive artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ci-artifacts
          path: artifacts-k8s-native${{ matrix.java }}.zip