name: "Jacoco Weekly Report"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 1'
jobs:
  jacoco-report:
    name: Jacoco Weekly Report
    runs-on: ubuntu-latest
    strategy:
      matrix:
        quarkus-version: ["999-SNAPSHOT"]
        java: [ 21 ]
    steps:
      - uses: actions/checkout@v6
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Install JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
          cache: 'maven'
        id: install-jdk
      - uses: ./.github/actions/prepare-quarkus-cli
      - name: Generate Jacoco Report
        run: |
          mvn -B --no-transfer-progress -fae clean install -Pframework,examples,coverage -Dvalidate-format -Drun-cli-tests -Dts.quarkus.cli.cmd="${PWD}/quarkus-dev-cli" -Dquarkus.platform.version="${{ matrix.quarkus-version }}"
          cd coverage-report
          mvn -B package
      - name: Generate Jacoco Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: coverage-report/target/site/jacoco/jacoco.csv
      - name: Coverage Preparation
        id: coverage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          if [[ `git status | grep .svg | wc -l` > 0 ]]; then
            echo "needs-commit-badge=true" >> $GITHUB_OUTPUT
          else
            echo "needs-commit-badge=false" >> $GITHUB_OUTPUT
          fi
      - name: Commit the badge (if it changed)
        if: steps.coverage.outputs.needs-commit-badge == 'true'
        run: |
          git config --global user.name 'QuarkusQE'
          git config --global user.email 'QuarkusQE@users.noreply.github.com'
          git add *.svg
          git commit -m "Autogenerated JaCoCo coverage badge"
      - name: Push the badge (if it changed)
        if: steps.coverage.outputs.needs-commit-badge == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Archive Coverage Report
        uses: actions/upload-artifact@v5
        with:
          name: ci-coverage${{ matrix.java }}
          path: coverage-report/target/site/jacoco
          retention-days: 7
